<div>
    <h1>Tu Perfil</h1>
    <p>Bienvenido, {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
    
    <button class="btn-logout">Cerrar Sesion</button>
</div>

<script>
    const logoutBtn = document.querySelector('.btn-logout');

    logoutBtn.addEventListener('click', e => {
        e.preventDefault();
        fetch('/api/sessions/logout', {
            method: 'POST'
        }).then(result => {
            if (result.status === 200) {
                window.location.replace('/login');
            }
        })
    })
</script>